/*Fuente*/
@font-face{
    font-family:King_Arthur_Legend;
    src:url('../fuentes/King_Arthur_Legend.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../assets/images/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: blanchedalmond;
    text-align: center;
    margin:15px;
    margin: auto;
}
header{
    color:crimson;
}
footer, li{
    text-align: left;
}
.map{
    background-image: url(../assets/images/interface/map.jpg);
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    /*height: 10%;*/
    /*width: 80%;*/
    width: 1520px;
    border: 1px solid crimson;
    margin: auto;
    overflow: hidden;
}


/*Sala de batalla*/
.battle{
    background-image: url(../assets/images/interface/crypts.room_altar.png);
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    /*height: 10%;*/
    /*width: 80%;*/
    width: 1520px;
    border: 1px solid crimson;
    margin: auto;
    overflow: hidden;
}
/*Background tabla de contenido*/
#BattleStateAll{
    display: grid;
    grid-template-columns: auto auto;
    pad: 0;
    justify-content: center;
    align-content: center;
}

.battleStateBannerLeft{
    background-color: transparent;
    background-image: url(../assets/images/interface/panel/panelLeft.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
    width: 760px;
    border: 1px solid crimson;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.battleStateBannerRight{
    background-color: transparent;
    background-image: url(../assets/images/interface/panel/panelRight.png);
    background-size: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    width: 760px;
    border: 1px solid crimson;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*
.banner{border: 1px solid white;}
*/
/*DIVISION DEL BANNER DE CONTENIDO*/
#bannerSide{width: 190px;}
#infoHero{width: 570px;}
#statsEnemy{width: 555px;}

#statsHeroUp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 110px;
}
#statsHeroDown{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 160px;
}
#portraitHero{
    border: 1px solid white;
    width: 95px;
}
#nameHero{
    border: 1px solid white;
    width: 110px;
}
.skillsHero{
    border: 1px solid white;
    width: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#statsHero{
    border: 1px solid white;
    width: 190px;
}
#equip{
    border: 1px solid white;
    width: 160px;
}
#trinkets{
    border: 1px solid white;
    width: 200px;
}
#statsEnemyUp{
    border: 1px solid white;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#statsEnemyCenter{
    border: 1px solid white;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#statsEnemyDown{
    border: 1px solid white;
    height: 133px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#nameEnemy{
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#hpEnemy{
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*Escala de personaje*/
.lenght{
    height: 300px;
    margin-top:50px;
}
/*Columnas de personaje*/
.columnaN1{                          /*columnas de heroes*/
    height: 410px;
    width: 220px;
    float: left;
    /*border: 1px solid white;*/
}
.columnaN2{                          /*columnas de enemigos*/
    height: 410px;
    width: 220px;
    float: right;
    /*border: 1px solid white;*/
}
.columna-hover{
    background-image: url(../assets/images/interface/iconos/selected_1.png); /*selector*/
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 200px;    
}
.columnaN2-hover{
    background-image: url(../assets/images/interface/iconos/target_1.png); /*selector*/
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 200px;
}
/*************************************************/
/*selector de heroes*/
#selection{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contenedorSelect{
    grid-template-columns: 1fr 1fr 1fr;
    height: 60px;
    width: 660px;
    margin-left: 50px;
    margin-top: 125px;
}
.contenedorSelect img{
    height: 60px;
}
#buttonCombat{
    margin-left: -100px;
    height: 180px;
    width: 190px;
}
#buttonCombat img{
    height: 130%;
}
/*************************************************/
/*animaciones*/
.animacionHero{
    height: 410px;
    width: 40px;
    float: left;

    position: relative;
    right: 420px;
    top: -220px;
}
.animacionHero img{
    height: 450px;
}
.animacionEnemy{
    height: 410px;
    width: 40px;
    float: right;

    position: relative;
    right: 720px;
}
.animacionEnemy img{
    height: 450px;
    margin-left: -50px;
    margin-top: 55px;
}
/*******************cruzado*******************/
/*cruzado animcion skill 1*/
.animacion-crusado-skill-1{
    float: left;
    position: relative;
    right: -550px;
    top: 280px;
}
.animacion-crusado-skill-1-anim{
    float: left;
    height: 150px;
    position: relative;
    left: 20px;
    top: -60px;
}
/*cruzado animcion skill 2*/
.animacion-crusado-skill-2-anim{
    float: left;
    filter: saturate(120%);
    filter: opacity(.9);
    height: 430px;

    position: relative;
    left: 115px;
    top: -75px;
}
.animacion-crusado-skill-2-body{
    margin-left: 537px;
    margin-top: 270px;
}
/*cruzado animcion skill 3*/
.animacion-crusado-skill-3-body{
    position: relative;
    left: 530px;
    top: 30px;
}
/*******************barbara*******************/
/*barbara animcion skill 1*/
.animacion-barbara-skill-1-body{
    position: relative;
    left: 520px;
    top: 280px;
}
.animacion-barbara-skill-1-anim{
    float: left;

    height: 220px;

    position: relative;
    left: -90px;
    top: -120px;
}
/*barbara animcion skill 2*/
.animacion-barbara-skill-2-body{
    position: relative;
    left: 590px;
    top: 130px;
}
.animacion-barbara-skill-2-anim{
    float: left;
    /*opacity: 0.1;*/
    height: 420px;

    position: relative;
    left: 360px;
    top: -45px;
}
/*barbara animcion skill 3*/
.animacion-barbara-skill-3-body{
    position: relative;
    left: 520px;
    top: 150px;
}
.animacion-barbara-skill-3-anim{
    float: left;

    height: 220px;

    position: relative;
    left: -130px;
    top: -190px;
}
/*****************arbalestera*****************/
/*arbalestera animcion skill 1*/
.animacion-arbalestera-skill-1-body{
    position: relative;
    left: 520px;
    top: 270px;
}
.animacion-arbalestera-skill-1-anim{
    float: left;

    height: 220px;

    position: relative;
    left: -130px;
    top: -190px;
}
/*arbalestera animcion skill 2*/
.animacion-arbalestera-skill-2-body{
    position: relative;
    left: 520px;
    top: 330px;
}
.animacion-arbalestera-skill-2-anim{
    float: left;

    height: 220px;

    position: relative;
    left: -130px;
    top: -190px;
}
/*arbalestera animcion skill 3*/
.animacion-arbalestera-skill-3-body{
    position: relative;
    left: 520px;
    top: 320px;
}
.animacion-arbalestera-skill-3-anim{
    float: left;

    height: 220px;

    position: relative;
    left: -130px;
    top: -190px;
}
/*******************enemys********************/
/*hero- position*/
.animacion-hero-enemy{
    position: relative;
    left: 820px;
    top: 230px;
}
/*esqueleto escudero-animcion skill*/
.animacion-skeleton-escudero-skill-1-body{
    position: relative;
    top: -25px;
}

.dead{
    height: 150px;
    margin-top: 200px;
}